main
.vscode

# why?!
*/**/.DS_Store

# do i need?
3rd-party/include/glm/test
3rd-party/include/glm/cmake
3rd-party/include/glm/doc
3rd-party/include/glm/util
3rd-party/include/glm/include/test
# no.

build/

# im too lazy to remove these files...
my-things

# i tried to add physics, tried many things:
3rd-party/qu3e
3rd-party/reactphysics3d
3rd-party/rigidbox
